/*

Title:      Solutious Print Stylesheet
Author:     Andrew Simpson / www.andrewsimpsondesign.com
Date: 		  May 12th, 2009

*/


/*
//----------------------------------------------
//   G l o b a l
//----------------------------------------------
*/

body {
	position: relative;	
	margin: 0;
	font-family: arial, sans-serif;
	font-size: 12px;
	line-height: 1.667em;
	width: 450px;
	}

a {
	color: black;
	text-decoration: none;
	}
	

h1, h2, h3, h4, h5, h6 {
	font-family: 'Courier New', Courier, monospace;
	font-weight: bold;
	color: #111;
	}
	
ol, ul, li, dl, dd, dt {
	list-style: none;
	padding-left: 10px;
	}	
	


/*
//----------------------------------------------
//   L a y o u t
//----------------------------------------------
*/
.logo img {
	width: 289px; height: 106px;
	border: 0px;
	margin-bottom: 10px;
	}
.logo h1 {
	text-indent: -9999px;
	}

.openSourceProjects,
.productNav,
.navLeftLine,
.nav,
.subnav {
	display: none; 
	}

#footer { 
	text-align: center;
	border-top: 1px solid #000;
	}
.copyright {
	display: block;
	}
	
.email {
	direction:rtl;
	unicode-bidi: bidi-override;
	}
	

/*
//----------------------------------------------
//   P a g e   S p e c i f i c
//----------------------------------------------
*/	
	
/* h o m e */	

#sifrAnd {
	display: inline;
	}
	
.productHeading {
	display: block;
	margin: 20px 0 -20px 0;
	padding: 0;
	font-size: 20px;		
	line-height: 25px;
	height: 35px;
	font-family: 'Courier New', Courier, monospace;
	font-weight: bold;
	}
	
/* b l o g */

#IDCommentsNewThreadCover,
.idc-right {
	display: none;
	}
	
.aboutSolutious {
	border-top: 5px solid #000;
	border-bottom: 5px solid #000;
	}
	
/* p r o d u c t s */	

.details,
.download,
.screencast {
	display: none;
	}
