/*

Title:      Solutious Screen Stylesheet
Author:     Andrew Simpson / www.andrewsimpsondesign.com
Date: 		  6:26am November 21st, 2008

*/



/*
//----------------------------------------------
//   G l o b a l
//----------------------------------------------
*/

body {
	position: relative;	
	overflow-x: hidden;
	margin: 0;
	font-family: arial, sans-serif;
	font-size: 12px;
	line-height: 1.25em;
	}

a {
	color: #00cccc;	
	text-decoration: none;
	}
	body a:hover { color: #006666; }
	
h1, h2, h3, h4, h5, h6 {
	font-family: Georgia, serif;
	font-weight: bold;
	color: #111;
	}
	
	h2 { font-size: 30px; }
	
ol, ul, li, dl, dd, dt {
	list-style: none;
	margin: 0;
	padding: 0;
	}	
	
.reset { 
	display:block;
	clear: both;
	}


/*
//----------------------------------------------
//   L a y o u t
//----------------------------------------------
*/

.corset {
	width: 980px;
	margin: 0 auto;
	}

.top {
	position: relative;
	height: 190px;
	border-top: 3px solid #00cccc;
	}

	.openSourceProjects {
		display: block;
		text-align: right;
		width: 970px;
		margin-top: 4px;
		padding: 5px 10px 0 0;
		border-top: 1px dotted #cccccc;
		color: #00cccc;
		background: url(/images/openSourceArrow.png) no-repeat right 12px;
		font-size: 11px;
		}
		
		.logo {
			position: absolute;
			display: block;
			width: 289px; height: 106px;
			text-indent: 9999px;	
			background: url(/images/logoTagLine.png) no-repeat;
			border: none;
			}
			
			.logo h1 { margin: 0; }
			
		.productNav {
			clear: none;
			float: right;
			margin: 10px;
			}
			
			.productNav a {
				display: block;
				text-align: center;
				width: 60px;
				padding-top: 50px;
				color: #999;
				}
			.productNav .stella a { background: url(/images/productNav.png) no-repeat 7px top; }
			.productNav .rudy a { background: url(/images/productNav.png) no-repeat -54px top; }
			.stella .stella a,
			.rudy .rudy a { color: #00CCCC; }		
	
		.productNav li,
		.nav li,
		.subnav li {
			float: left;
			}
		
		.navLeftLine {
			position: absolute;
			display: block;
			overflow: hidden;
			top: 151px;
			margin: 0; padding: 0;
			width: 557px; height: 6px;
			background: url(/images/navLeftLine.png) repeat-x;
			}
			
		.nav {
			position: absolute;
			display: block;
			right: 0; top: 115px;
			width: 423px; height: 42px;
			background: url(/images/navBack.png) no-repeat 0 top;
			}	
			
			.nav .first a { margin-left: 40px; }
			.nav a { 
				display: block;
				padding: 15px 0 9px;
				margin: 0 8px;
				color: #000;
				font-family: Georgia, serif;
				font-weight: bold;
				font-size: 13px;
				}
			
			.home .navHome a,
			.about .navAbout a,
			.products .navProducts a,
			.blog .navBlog a,
			.contact .navContact a { 
				border-bottom: 4px solid #00cccc; }	
			
		.subnav {
			position: absolute;
			top: 157px;
			width: 100%; height: 22px;	
			padding-top: 5px;	
			border-top: 1px dotted #ccc;
			border-bottom: 1px dotted #ccc;
			font-family: Georgia, serif;
			font-style: italic;
			}		
			
			.subnav .message {
				float: left;
				padding-left: 15px;
				background: url(/images/heart.png) no-repeat left 6px;
				font-family: Georgia, serif;
				font-style: italic;
				color: #999;
				}
				
			.subnav ul {
				float: right;
				}
				.subnav a {
					padding: 0 10px;
					border-left: 1px solid #00cccc;
					}
					.subnav .first a { border: none; }
					.archive .navArchive a { color: #006666; }
					
#footer {
	margin-top: 30px !important;
	padding-top: 10px;
	border-top: 1px dotted #666;
	color: #999;
	font-size: 10px;
	text-align: center;
	}

	#footer .big {
		font-size: 12px;
		font-family: Georgia, serif;
		font-style: italic;
		color: #999;
		border-bottom: 1px solid #999;
		}

	#footer .tagline {
		margin: 0 25px;
		font-size: 11px;
		font-family: Georgia, serif;
		font-style: italic;
		color: #000;
		}
					
					
code {
	display: block;
	margin: 10px 0;
	padding: 20px;
	border: 1px solid #ccc;
	border-right: 4px solid #00CCCC;
	background: #f9f9ff;
	font-family: Courier, serif;
	}
					
					
/*
//----------------------------------------------
//   P a g e   S p e c i f i c
//----------------------------------------------
*/	
	
/* h o m e */	
	
	.developing {
		width: 430px; height:90px;
		margin: 15px 0 25px;
		padding: 15px 0 0 55px;
		background: url(/images/colorPieces.png) no-repeat;
		font-family: Georgia, serif;
		font-size: 23px;
		line-height: 1.15em;
		color: #999;
		}
		
		.sIFR-active .developing { font-size: 28px; }
	
	.freeText {
		
	}

	.rightTools {
		display: block;
		width: 501px; height: 87px;
		background: url(/images/rightTools.png) no-repeat;
		text-indent: -9999px;
		}

	.columns {
		height: 100px;
		margin-top: 30px;
		padding-left: 160px;
		background: url(/images/colorPieces.png) no-repeat 0 -105px;
		color: #666;
		}
		.columns div {
			float: left;
			width: 155px;
			margin: 0 10px;
			}
		.columns em { 
			font-weight: bold;
			font-style: normal;
			color: #000;
			}	

		.intro { 
			float: left;
			width: 510px;
			}
			
	.stellaOverview,
	.rudyOverview {
		float: right;
		width: 290px;
		padding-left: 115px;
		}		
		
		.stellaOverview h2,
		.rudyOverview h2 {
			margin: 0;
			font-size: 30px;		
			}
			
		.reparte {
			margin: 10px 0 5px;
			color: #00cccc;
			}		
		
		.stellaOverview h3,
		.rudyOverview h3 {
			padding-top: 10px;
			margin: 5px 0 10px;
			font-style: italic;
			font-weight: normal;
			font-size: 20px;	
			line-height: 24px;
			border-top: 1px dotted #999;	
			}
		
		.details {
			display: block;
			padding: 7px 12px;
			border-top: 1px dotted #999;
			background: url(/images/navBack.png) 0 -5px;
			font-style: italic;
			font-family: Georgia, serif;
			}
			
			.details .beta { 
				float: left; 
				color: #003333;
				}
			
			.details .git {
				margin-left: 10px;
				padding-left: 10px;
				border-left: 1px solid #00CCCC;
				color: #00CCCC;	
				}
				
			.description {
				font-size: 11px;
				color: #999;
				}	
				
	.stellaOverview {	
				margin: 35px 0;
				background: url(/images/stellaOverview.png) no-repeat;
				}
	.rudyOverview {	background: url(/images/rudyOverview.png) no-repeat; }	
		
/* p r o d u c t */

.left {
	float: left;
	}	

.stellaPageOverview,
.rudyPageOverview {
	width: 285px;
	margin-top: 30px;
	padding-left: 215px;
	}		
	.stellaPageOverview { background: url(/images/stellaPageOverview.png) no-repeat; }	
	.rudyPageOverview { background: url(/images/rudyPageOverview.png) no-repeat; }	
	
	.stellaPageOverview h2,
	.rudyPageOverview h2 {
		margin: 0;
		font-size: 65px;
		line-height: 55px;
		}

		.productPage .reparte {
			margin-top: 12px;
			}
			
		.download { 
			text-indent: -9999px;
			display: block;
			width: 288px; height: 51px;
			margin: 15px 0;
			background: url(/images/download.png) no-repeat;
			}	
			
		.getStarted {
			font-family: Georgia, serif;
			font-style: italic;
			font-size: 18px;
			}	
			
			.getStarted a {
				padding-bottom: 3px;
				color: #000;
				border-bottom: 4px solid #00CCCC;
				}
				
.screencast {
	display: block;
	width: 325px; height: 100px;
	padding: 65px 0 0 175px;
	background: url(/images/screencast.png) no-repeat;
	}		
	
	.screencast h3 {
		margin-bottom: 10px; 
		font-size: 20px;
		color: #999;
		}
		
	.screencast p {
		margin: 0;
		font-size: 15px;
		color: #000;
		}	
		
.right {
	float:left;
	margin-left:57px;
	width:420px;
	}		
		
	.right h4 {
		margin-bottom: 25px;
		font-size: 30px;
		font-style: italic;
		font-weight: normal;
		line-height: 1.15em;
		}		
			
	.right p {
		color: #999;
		}			

	.right .snippetTitle {
		margin-top: 42px;
		font-family: Georgia, serif;
		font-size: 18px;
		font-style: italic;
		}
		
	.right .snippetSubtitle	{
		margin-left: 10px;
		font-family: Georgia, serif;
		font-style: italic;
		font-size: 12px;
		color: #999;
		}
		
			
/* b l o g */

.blog .left { width: 620px; }
.archives { 
	width: 620px;
	margin-top: 25px;
	}
.entry {
	position: relative;
	float: left;
	width: 620px;
	margin-top: 25px;
	padding-left: 50px;
	}
	
	.entry .info {
		position: absolute;
		left: 0;
		}
	
	.entry .month {
		font-size: 10px;
		color: #666;
		}	
		
	.entry .day,
	.entry .commentCount {
		text-align: center;		
		width: 35px; 
		font-family: Georgia, serif;
		font-size: 18px;
		color: #fff;
		}
		
	.entry .day {
		height: 32px;
		margin-top: 2px;
		padding-top: 6px;
		background: url(/images/blogIcons.png) no-repeat;
		}	
		
	.commentCount { 
		height: 24px;
		margin-top: 12px;
		padding: 2px 0 0;
		background: url(/images/blogIcons.png) no-repeat 0 -38px;
		}	
		
	.entry h2 {
		margin-bottom: 2px;
		font-size: 18px;
		border-bottom: #000;
		}	
		
	.entry .author {
		margin: 0;
		font-family: Georgia, serif;
		font-style: italic;
		font-weight: bold;
		color: #00CCCC;
		}	
		
.aboutSolutious,
.aboutDelano {
	float: right;
	clear: right;
	width: 250px;
	margin-top: 10px;
	padding-top: 85px;
	font-family: Georgia, serif;
	font-size: 14px;
	line-height: 1.25em;
	font-style: italic;
	color: #999;
	}	
	
	.signature {
		font-size: 18px;
		color: #00CCCC;
		background: url(/images/signatureHeart.png) no-repeat 14px 2px;
		}	
		
.aboutSolutious {background: url(/images/aboutSolutious.png) no-repeat;	}		
.aboutDelano {background: url(/images/aboutDelano.png) no-repeat;	}
	
	/*****************************************************************************
	scalable Inman Flash Replacement (sIFR) version 3.

	Copyright 2006 – 2008 Mark Wubben, <http://novemberborn.net/>

	Older versions:
	* IFR by Shaun Inman
	* sIFR 1.0 by Mike Davidson, Shaun Inman and Tomas Jogin
	* sIFR 2.0 by Mike Davidson, Shaun Inman, Tomas Jogin and Mark Wubben

	See also <http://novemberborn.net/sifr3> and <http://wiki.novemberborn.net/sifr3>.

	This software is licensed and provided under the CC-GNU LGPL.
	See <http://creativecommons.org/licenses/LGPL/2.1/>
	*****************************************************************************/

	@media screen {
	  .sIFR-flash {
	    visibility: visible !important;
	    margin: 0;
	    padding: 0;
	  }

	  .sIFR-replaced, .sIFR-ignore {
	    visibility: visible !important;
	  }

	  .sIFR-alternate {
	    position: absolute;
	    left: 0;
	    top: 0;
	    width: 0;
	    height: 0;
	    display: block;
	    overflow: hidden;
	  }

	  .sIFR-replaced div.sIFR-fixfocus {
	    margin: 0pt; 
	    padding: 0pt; 
	    overflow: auto; 
	    letter-spacing: 0px; 
	    float: none;
	  }
	}

	@media print {
	  .sIFR-flash {
	    display    : none !important;
	    height     : 0;
	    width      : 0;
	    position   : absolute;
	    overflow   : hidden;
	  }

	  .sIFR-alternate {
	    visibility : visible !important;
	    display    : block   !important;
	    position   : static  !important;
	    left       : auto    !important;
	    top        : auto    !important;
	    width      : auto    !important;
	    height     : auto    !important;
	  }
	}

	/*
	Place CSS rules for to-be-replaced elements here. Prefix by .sIFR-active
	so they only apply if sIFR is active. Make sure to limit the CSS to the screen
	media type, in order not to have the printed text come out weird.
	*/
	@media screen {
	  /* Example:
	  .sIFR-active h1 {
	    font-family: Verdana;
	    visibility: hidden;
	  }
	  */
	}