/*

Title:      Solutious Screen Stylesheet
Author:     Andrew Simpson / www.andrewsimpsondesign.com
Date: 		  6:26am November 21st, 2008

*/



/*
//----------------------------------------------
//   G l o b a l
//----------------------------------------------
*/

body {
	position: relative;	
	overflow-x: hidden;
	margin: 0;
	font-family: arial, sans-serif;
	font-size: 12px;
	line-height: 1.667em;
	}

a {
	color: black;	
	text-decoration: none;
	border-bottom: 1px solid #111;
	}
	
	a:hover {
		border-bottom: 1px solid #00cccc;
		}
	
	body .products h3:hover,	
	a h3:hover {
		color: #666;
		}	
	
h1, h2, h3, h4, h5, h6 {
	font-family: Georgia, serif;
	font-style: italic;
	font-weight: bold;
	color: #111;
	}
	
ol, ul, li, dl, dd, dt {
	list-style: none;
	padding-left: 10px;
	}	
	
.reset { 
	display:block;
	clear: both;
	}


/*
//----------------------------------------------
//   L a y o u t
//----------------------------------------------
*/

#top {
	height: 50px;
	margin-bottom: 125px;
	background-color: #000000;
	border-top: 8px solid #00CCCC;
	color: white;
	}
	
	#top .corset {
		position: relative;
		margin-top: 0px !important;
		}
	
	#top .logo a {
		position: absolute;
		width: 305px; height: 122px;
		padding: 15px 0 15px 0;
		margin-left: -5px;
		margin-bottom: 20px;
		text-indent: -3000px;
		background: url(../images/solutiousLogo.png) no-repeat 0 22px;
		border-bottom: none;		
		}
		
		.logo a:hover { border: 0 none !important; }
				
		#top h1 { margin: 0; }
			
	#top ul {
		position: absolute;
		right: 0;
		margin: 0 -30px 0 0;
		padding: 0;
		font-size: 13px;
		font-family: Georgia, serif;
		font-style: italic;
		font-weight: bold;
		}
		
		#top ul a {
			display: block;
			padding: 20px 20px 10px 20px;
			color: white;
			border-bottom: none;
			}
			
			#top a:hover { color: #00cccc; border-bottom: 4px solid #00cccc; }
			
		#top li { float: left; height: 100%; padding: 0; margin: 0; border-left: 1px dotted #999; }	
		#top li.first { border: none; }
		
		#top li.on,
		#about #navAbout,
		#blogHome #navBlog,
		#blogArchive #navArchive,
		#blogPost #navBlog { height: 100px; border: 0; background: url(../images/navOn.png) no-repeat center 0; }
			#top li.on a:hover { color: #fff; border: none; }
			
			
			
.corset {
	width: 645px;
	margin: 180px auto 0 auto;
	}		
	.notice { position:relative; text-align: center; margin-top: 25px; font-size: 150%; font-weight: bolder;}
	
	.corset pre, div.highlight {
	        font-size: 12px;
	        padding: 0;
	        margin: 0;
	        background-color: #f9f9f9;
	        line-height: 20px; /*--Height of each line of code--*/
	        background: url(pre_code_bg.gif) repeat-y left top; /*--Background of lined paper--*/
	        overflow: auto; /*--If the Code exceeds the width, a scrolling is available--*/
	        overflow-Y: hidden;  /*--Hides vertical scroll created by IE--*/
	}
	.corset pre code, div.highlight pre {
				  background-color: #f9f9f9;
	        margin: 0px 0 0 20px;  /*--Left Margin--*/
	        padding: 18px 10px;
	        display: block;
	}
	.corset ul li {
		list-style: circle;
	}
	
	.corset ul.posts li {
		list-style: none;
	}
	
	.corset ul.nav li {
		list-style: none;
	}
	
#related {
		margin-top: 40px;
		margin-bottom: 40px;
	}
	
	
#footer {
	margin-top: 70px !important;
	padding-top: 10px;
	border-top: 1px dotted black;
	color: #333;
	font-size: 10px;
	text-align: center;
	}
	
	#footer .big {
		font-size: 12px;
		font-family: Georgia, serif;
		font-style: italic;
		color: #111;
		}

	#footer .tagline {
		margin: 0 25px;
		font-size: 14px;
		font-family: Georgia, serif;
		font-style: italic;
		color: #00CCCC;
		}
	
.hilite {
	background-color: #FCFCAA;
	padding: 2px 4px;
	}
	
.numeral {
	color: #00cccc;
	}	
	
	
/*
//----------------------------------------------
//   P a g e   S p e c i f i c
//----------------------------------------------
*/	
	
/* h o m e */	
	
#home .corset { 
	width: 945px !important;
	margin-top: 120px;
	}
#products .corset {
	width: 620px;
	margin: 0 auto;
	}	
		
	#home #top {
		margin-bottom: 50px;
		}
	
	#home .introduction {
		clear: both;
		padding: 35px 0 65px 0;
		border-top: 1px dotted #000;
		width: 945px;
		}

		.introduction h2 {
			float: left;
			width: 410px;
			margin: 0 52px 0 0;
			font-size: 23px;
			font-weight: normal;
			line-height: 30px;
			}

		.introduction p {
			float: left;
			width: 215px;
			margin: 10px 0 0 25px;
			line-height: 1.25em;
			color: #666;
			}
			
		.introduction .blue {
			color: #00cccc;
			}	
			
		.products div {
			position: relative;
			float: left;
			width: 280px;
			padding-left: 145px;
			margin-bottom: 50px;
			}
			
			.products .stella {
				position: relative;
				left: -25px;
				background: url(../images/stellaLogo.png) no-repeat;
				}

			.products .rudy {
				position: relative;
				left: 62px;
				background: url(../images/rudyLogo.jpg) no-repeat;
				}
			
			.products h3 {
				font-size: 30px;
				margin: 0;
				}	
				
			.products h4 {
				margin: 5px 0 0 0;
				font-family: arial, sans-serif;
				font-style: normal;
				font-weight: normal;
				color: #00cccc;
				font-size: 12px;
				}	
				
			.products .tagline {
				padding: 10px 0;
				margin: 10px 0 0 0;
				line-height: 24px;
				font-size: 20px;
				font-family: Georgia, serif;
				font-style: italic;
				border-top: 1px dotted #000;
				border-bottom: 1px dotted #000;
				color: #000;
				}	
				
			.products .beta,
			.products .follow {
				margin: 10px 0;				
				font-family: Georgia, serif;
				font-style: italic;
				}
				
				.products .beta {
					font-size: 15px;				
					color: #00CCCC;				
					}
				
				.products .follow a {
					display: inline;
					padding: 2px;
					font-size: 14px;
					background: #efefef; 
					}
					
					.products .follow a:hover { 
						background: #000; 
						color: #fff; 
						}
						
			.products p {
				line-height: 15px;
				font-size: 11px;
				color: #666;
				}	
				
			.products a { border-bottom: 0 none !important; }	
			
			.products .logo {
				position: absolute;
				display: block;
				width: 129px; height: 123px;
				margin: -245px -145px;
				border: 0;
				}
			
#home #footer {
	margin-top: 50px !important;
	}	


/* b l o g */

#disqus_thread {
	
	margin-top: 40px;
}

.entry {
	padding-bottom: 50px;
	margin-top: 50px;
	background: url(../images/dot.jpg) no-repeat bottom center;
	}
.entry li {
	list-style: circle;
	
}
	.entry.last {
		padding-bottom: 0;
		background: none;
		}
		
	.entry .info {	
		position: absolute;
		text-align: center;
		margin-left: -100px;
		padding-top: 4px;
		color: white;
		background: url(../images/info.jpg) no-repeat top center;
		border-bottom: none;
		}	


		.entry .info span {
			display: block;
			margin: .25em 0;
			font-family: Georgia, serif;
			font-style: italic;
			font-weight: bold;
			}
			
			.info .day { font-size: 20px; }	
				.info .day sup { font-size: 12px; }	
			.info .month { font-size: 18px; }
			.info .year { font-size: 12px; }	
			
		.entry .comments {
			padding-top: 3em;
			font-size: 12px;
			color: #00cccc;
			}	
			
			.entry .comments span { margin: 0; }
			.entry .comments .count { font-size: 22px; }
			
		.author {
			font-family: Georgia, serif;
			font-style: italic;
			font-weight: bold;
			font-size: 12px;
			color: #00cccc;
			border-bottom: none;
			}
	
	.entry h2 { display: inline; line-height: 26px;}
		.entry h2:hover { background: white; border-bottom: 1px solid #00cccc; }
	
	#comment {
		margin-top: 50px;
		}	

		#comment .textfield {
			margin-right: 10px;
			padding: 5px;
			border: 0;
			font-size: 14px;
			font-family: Georgia, serif;
			font-style: italic;
			font-weight: bold;
			background: #eee;
			color: #333;
			}
			
		#comment label {
			font-size: 10px;
			color: #999;		
			}
		
		#comment .commentBox { 
			width: 359px;
			padding: 10px;
			border: 3px solid #ccc;
			font-size: 12px;
			font-family: arial, serif;
			}		
		#comment .commentRules {
			width: 305px;
			float: left;
			color: #999;
			line-height: 1em;
			}		
		
		#comment .submit {
			width: 80px;
			height: 40px;
			border: 0;
			font-family: Georgia, serif;
			font-style: italic;
			font-weight: bold;
			background: #111;
			color: #fff;
			}