/*

Title:      Solutious Screen Stylesheet
Author:     Andrew Simpson / www.andrewsimpsondesign.com
Date: 		6:26am November 21st, 2008

*/



/*
//----------------------------------------------
//   G l o b a l
//----------------------------------------------
*/

body {
	position: relative;	
	overflow-x: hidden;
	margin: 0;
	font-family: arial, sans-serif;
	font-size: 12px;
	line-height: 1.667em;
	}

a {
	color: black;	
	text-decoration: none;
	border-bottom: 1px solid #111;
	}
	
	a:hover {
		border-bottom: 1px solid #66CCCC;
		}

h1, h2, h3, h4, h5, h6 {
	font-family: Georgia, serif;
	font-style: italic;
	font-weight: bold;
	color: #111;
	}
	
ol, ul, li, dl, dd, dt {
	list-style: none;
	padding-left: 10px;
	}	
	


/*
//----------------------------------------------
//   L a y o u t
//----------------------------------------------
*/

#top {
	height: 50px;
	margin-bottom: 125px;
	padding-top: 8px;
	background: transparent url(http://solutious.com/images/top.jpg) repeat-x scroll 0 0;
	background-color: #000;
	color: white;
	}
	
	#top .corset {
		width: 620px !important;
		}
		
	.logo a {
		float: left;
		width: 128px; height: 20px;
		padding: 15px 0 15px 0;
		text-indent: -3000px;
		background: url(http://solutious.com/images/solutious.jpg) no-repeat center 15px;
		border-bottom: none;
		}
		
		#top h1 { margin: 0; }
			
	#top ul {
		position: relative;
		float: right;
		margin: 0 -30px 0 0;
		padding: 0;
		font-size: 13px;
		font-family: Georgia, serif;
		font-style: italic;
		font-weight: bold;
		}
		
		#top ul a {
			display: block;
			padding: 20px 20px 10px 20px;
			color: white;
			border-bottom: none;
			}
			
			#top a:hover { color: #66CCCC; border-bottom: 4px solid #66CCCC; }
			
		#top li { float: left; height: 100%; padding: 0; margin: 0; border-left: 1px dotted #999; }	
		#top li.first { border: none; }
		
		#top li.on { height: 100px; border: 0; background: url(http://solutious.com/images/navOn.jpg) no-repeat center 0; }
			#top li.on a:hover { color: #fff; border: none; }
			
.corset {
	width: 485px;
	margin: 0 auto;
	}		
	
	.offset { position: relative; width: 485px; margin-left: -70px; }
		
#footer {
	margin-top: 70px !important;
	padding-top: 10px;
	border-top: 1px dotted black;
	color: #666;
	font-size: 10px;
	text-align: center;
	}
	
	#footer .big {
		font-size: 12px;
		font-family: Georgia, serif;
		font-style: italic;
		color: #111;
		}

.hilite {
	background-color: #ff6;
	padding: 2px 4px;
	}
	
.numeral {
	color: #66CCCC;
	}	
	
			
/*
//----------------------------------------------
//   P a g e   S p e c i f i c
//----------------------------------------------
*/	
	
/* h o m e */	
	
#home .corset, #products .corset {
	width: 620px;
	margin: 0 auto;
	}	
	
	#home #top {
		margin-bottom: 50px;
		}
	
	.tagline { 
		padding: 20px 0;
		line-height: 3em;
		letter-spacing: -1px;
		color: #66CCCC; 
		}
		
	.tagline h2, .tagline span {
		font-weight: normal;
		font-size: 70px;
		margin: 52px 0;
		}
		
		.tagline .hope { display: inline; }
		
	.tagline span, .tagline p {
		font-family: Georgia, serif;
		font-style: italic;
		}
		
	.tagline p { 
		margin-top: 50px; 
		line-height: 1.5em;
		font-size: 11px;
		letter-spacing: 6px;
		color: #ccc;
		}	
		
#home #footer {
	margin-top: 120px;
	}	


/* b l o g */

#disqus_thread {
	
	margin-top: 40px;
}

.entry {
	padding-bottom: 50px;
	margin-top: 50px;
	background: url(http://solutious.com/images/dot.jpg) no-repeat bottom center;
	}
.entry li {
	list-style: circle;
	
}
	.entry.last {
		padding-bottom: 0;
		background: none;
		}
		
	.entry .info {	
		position: absolute;
		text-align: center;
		margin-left: -100px;
		padding-top: 4px;
		color: white;
		background: url(http://solutious.com/images/info.jpg) no-repeat top center;
		border-bottom: none;
		}	


		.entry .info span {
			display: block;
			margin: .25em 0;
			font-family: Georgia, serif;
			font-style: italic;
			font-weight: bold;
			}
			
			.info .day { font-size: 20px; }	
				.info .day sup { font-size: 12px; }	
			.info .month { font-size: 18px; }
			.info .year { font-size: 12px; }	
			
		.entry .comments {
			padding-top: 3em;
			font-size: 12px;
			color: #66CCCC;
			}	
			
			.entry .comments span { margin: 0; }
			.entry .comments .count { font-size: 22px; }
			
		.author {
			font-family: Georgia, serif;
			font-style: italic;
			font-weight: bold;
			font-size: 1.25em;
			color: #66CCCC;
			border-bottom: none;
			}
	
	.entry h2 { display: inline; line-height: 26px;}
		.entry h2:hover { background: white; border-bottom: 1px solid #66CCCC; }
	
	#comment {
		margin-top: 50px;
		}	

		#comment .textfield {
			margin-right: 10px;
			padding: 5px;
			border: 0;
			font-size: 14px;
			font-family: Georgia, serif;
			font-style: italic;
			font-weight: bold;
			background: #eee;
			color: #333;
			}
			
		#comment label {
			font-size: 10px;
			color: #999;		
			}
		
		#comment .commentBox { 
			width: 359px;
			padding: 10px;
			border: 3px solid #ccc;
			font-size: 12px;
			font-family: arial, serif;
			}		
		#comment .commentRules {
			width: 305px;
			float: left;
			color: #999;
			line-height: 1em;
			}		
		
		#comment .submit {
			width: 80px;
			height: 40px;
			border: 0;
			font-family: Georgia, serif;
			font-style: italic;
			font-weight: bold;
			background: #111;
			color: #fff;
			}