---
layout: default-blog
title: The Solutious Blog
bodyid: blog
---


  {% for post in site.posts limit:3 %}
<div class="entry">
	
	<div class="info">
		<div class="month">{{ post.date | date: "%b" }} '{{ post.date | date: "%y" }}</div>
		<div class="day">{{ post.date | date: "%d" }}</div>
		<!--div class="commentCount">122</div-->
	</div>

	<a href="{{ post.url }}" title="{{ post.title }}"><h1>{{ post.title }}</h1></a>
	<p class="author">posted by {{ post.who }}</p>
	
	 <!--
	 categories [
   {% for topic in post.topics %}
     {{ topic }}
   {% endfor %}
   ]
   -->
   
	  {{ post.content }}
</div>

	  {% if forloop.rindex0 > 0 %}
	    <div id="separator"></div>
	  {% endif %}
   {% endfor %}
   

   
   <div style="margin: 40px 0 0 40px;"><h3>See <a href="/blog/archive/">the archive</a> for more</h3></div>
