---
layout: default-blog
bodyid: blog
---

<div class="entry">

  <div class="info">
    <div class="month">{{ page.date | date: "%b" }} '{{ page.date | date: "%y" }}</div>
    <div class="day">{{ page.date | date: "%d" }}</div>
    <!--div class="commentCount">122</div-->
  </div>

  <a href="{{ page.url }}" title="{{ page.title }}"><h1>{{ page.title }}</h1></a>
  <p class="author">posted by {{ page.who }}</p>

<!--
<script>
var idcomments_acct = 'defcf13babbc8ef58be95d5511a3b1a1';
var idcomments_post_id;
var idcomments_post_url;
</script>
<script type="text/javascript" src="http://www.intensedebate.com/js/genericLinkWrapperV2.js"></script>
-->

{{ content }}

<div class="related">
  <h3>Related Posts</h3>
  <ul class="posts">
    {% for post in site.related_posts limit:3 %}
      <li><span>{{ post.date | date: "%b %d %Y" }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>

<script>
var idcomments_acct = 'defcf13babbc8ef58be95d5511a3b1a1';
var idcomments_post_id;
var idcomments_post_url;
</script>
<span id="IDCommentsPostTitle" style="display:none"></span>
<script type='text/javascript'
src='http://www.intensedebate.com/js/genericCommentWrapperV2.js'></script>


</div>